:root {
  --primary-color: #0f1c2c;
  --secondary-color: #d7a675;
  --light-blue: #90e0ef;
  --white: #faf9f6;
  --black: #000000;
  --footer-color: #111111;
  --roboto: "Roboto", sans-serif;
  --h1-size: 45px;
  --h2-size: 36px;
  --h3-size: 30px;
  --h4-size: 22px;
  --h5-size-nav: 21px;
  --p-size-large: 20px;
  --p-size-small: 14px;
}

* {
  margin: 0;
  font-family: roboto;
  scroll-behavior: smooth;
  scroll-margin-top: 70px;
}

a {
  text-decoration: none;
  color: var(--white);
}

/* HEADER */

header {
  background-color: var(--primary-color);
  color: var(--white);
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-bottom: solid #023e8a 2px;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  left: 20px;
  font-size: var(--h4-size);
  gap: 10px;
  font-weight: 700;
}

.logo:hover {
  color: var(--secondary-color);
}

nav {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}

nav > a {
  color: var(--white);
  font-size: var(--h5-size-nav);
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin: 0;
}

nav > a:hover {
  background-color: #1d2c3f;
  color: var(--secondary-color);
}

.hero {
  background-image: url("../images/hero-image.jpg");
  height: 720px;
  background-attachment: fixed;
  background-position: center;
}

.exploration {
  background-color: var(--black);
  color: var(--white);
  padding: 0 15px;
}

.exploration > * {
  padding: 20px 200px;
}

.exploration > h2 {
  padding-top: 50px;
}

.info-box-exploration {
  display: flex;
  gap: 50px;
  max-width: 100%;
}

.text-frame-border-exploration {
  padding: 15px 2px 2px 15px;
  border-radius: 15px;
  width: fit-content;
  background-color: var(--secondary-color);
  transition: 0.5s ease-out;
}

.text-frame-border-exploration:hover {
  transition: 0.5s ease-in;
  transform: scale(1.05);
}

.text-frame-exploration {
  background-color: var(--primary-color);
  border-radius: 15px;
  line-height: 175%;
  padding: 10px;
  box-shadow: -1px -1px 10px var(--black);
}

.satellite-image {
  align-self: center;
}

.info-box-articles {
  display: flex;
  flex-direction: column;
  width: 460px;
  gap: 50px;
}

/* INTRO  SECTION */

.intro {
  background-color: var(--primary-color);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 50px 90px;
}

.intro h1 {
  color: var(--white);
  font-family: var(--roboto);
  font-size: var(--h1-size);
}
.intro-article {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
}

.intro-article img {
  width: 742px;
  height: 418px;
}

.intro-article div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 418px;
}

.intro-article p {
  font-family: var(--roboto);
  color: var(--white);
  font-size: var(--p-size-large);
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
}

/* FACTS SECTION */
.facts {
  background-color: var(--primary-color);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
  color: var(--secondary-color);
  font-family: var(--roboto);
  padding: 50px 0;
}

.fact {
  width: 1165px;
  height: 408px;
  background: radial-gradient(farthest-side at 30% 50%, #0f1c2c, black);
  position: sticky;
  top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 46px;
  padding: 0 19px;
  border-radius: 30px;
}

.facts h1 {
  font-size: var(--h1-size);
  position: sticky;
  top: 125px;
}

.fact-desc {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
}

.fact-desc h3 {
  font-size: var(--h3-size);
}

.fact-desc p {
  font-size: var(--p-size-small);
  line-height: 1.5;
  font-weight: bold;
}
.fact img {
  height: 272px;
  width: 524px;
  object-fit: cover;
}

/* FOOTER SECTION */
footer {
  background-color: var(--footer-color);
  max-width: 100vw;
  height: 125px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 52px;
}

.footer-details {
  width: 250px;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

.footer-details .logo {
  position: relative;
  left: 0;
}

.footer-socials {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  gap: 10px;
}

.footer-socials a img {
  width: 25px;
  height: 25px;
  color: var(--white);
  background-color: var(--white);
  border-radius: 90px;
  padding: 5px;
}

.footer-socials a img:hover {
  background-color: var(--secondary-color);
}
/* GALLERY SECTION */

.gallery {
  background-color: var(--primary-color);
}

.gallery > h1 {
  color: var(--white);
  font-size: var(--h1-size);
  padding-top: 50px;
  text-align: center;
  border-bottom: solid var(--secondary-color) 1px;
  width: 50%;
  margin: 0 auto;
}

.gallery-images-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 100px;
  padding: 50px 0;
}

.gallery-image-box {
  border: solid var(--white) 2px;
  width: 540px;
  height: 420px;
}

.gallery-image-box > img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.gallery-image-fix {
  object-fit: contain !important;
  background-color: var(--black);
}

.gallery-box-text {
  color: var(--white);
  text-align: center;
  font-size: var(--p-size-small);
  padding: 20px;
}
